# Web & API Framework
fastapi
uvicorn
pydantic

# Data Manipulation
pandas
numpy
scikit-learn==1.5.1
joblib

# Image Processing
easyocr
Pillow

# LLM Environ
python-dotenv
python-multipart

# LLM Models
openai>=1.0.0   # OpenAI
google-genai>=0.8.0   # Google Gemini
anthropic>=0.104.1   # Claude Anthropic